.about-container {
    display: flex;

}

.about-section {
    height: 90vh;
    width: 100%;
    flex: 1;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-me {
    width: 80%;
}

.about-picture {
    color: black;
    height: auto;
    width: 85%;
}

/* h1 {
    font-size: 48px;
    font-weight: 400;
} */

/* Fade-in section */
.fade-in-section {
    opacity: 0; /* Hidden initially */
    transform: translateY(20px); /* Slightly offset */
    transition: opacity 1.5s ease-out, transform 1.5s ease-out; /* Animation duration */
  }
  
  .fade-in-section.is-visible {
    opacity: 1; /* Become fully visible */
    transform: translateY(0); /* Move to its original position */
  }
  
  .fade-in-content {
    padding: 20px;
    border-radius: 10px;
    margin: 20px 0;
  }

  .mobile-picture {
    display: none;
  }





@media only screen and (max-width: 1450px) { 
    .about-picture {
        width: 100%;
        height: auto;
    }

}

@media only screen and (max-width: 1250px) {
    .about-container {
      width: 100%;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .about-me {
        width: 100%
    }

    .about-section {
        width: 80%;
    }


    .about-me {
        padding-bottom: 50px;
    }

    .about-picture {
        padding-top: 50px;
        height: 100%;
        width: 100%;
    }


    .about-container {
        padding: 100px 0;
    }
    
  }


  @media screen and (max-width: 1205px) {


    .about-section {
        width: 80%;
    }

  }

  @media screen and (max-width: 790px) {

    .about-picture {
        display: none;
    }

    .about-section {
        width: 80%;
    }

    .mobile-picture {
        display: block;
        width: 80%;
        height: auto;
        }


  }

  @media screen and (max-width: 560px) {


    .about-section {
        width: 80%;
    }


  }
