.cards {
  padding: 4rem;
  background: #feaf7a;
  opacity: 1;
}



.cards__container {
  display: flex;
  flex-flow: column;
  flex: 1;
  max-width: 1120px;
  width: 87%;
  margin: 0 auto;
}

.cards__wrapper {
  position: relative;
  margin: 0 0 45px;
  display: flex;
  flex-direction: column;
}

.cards__items {
  margin-bottom: 24px;
  font-size: 20rem;
  flex: 1;
  width: 100%;
}

/*  */


.cards__item {
  border-radius: 3rem;
  overflow: hidden;
  position: relative;
  transition: 0.2s transform ease-in-out;
  will-change: transform;
  z-index: 0;
}

.cards__item::after {
  background-color: white; /* Missing colon */
  content: ''; /* Missing colon */
  display: block; /* Missing colon */
  height: 100%; /* Missing colon */
  width: 100%; /* Missing colon */
  position: absolute;
  left: 0; /* Missing colon */
  top: 0; /* Missing colon */
  transform: translate(-100%, 0) rotate(10deg); /* Missing colon */
  transform-origin: top left; /* Missing colon */
  transition: 0.2s transform ease-out;
  will-change: transform;
  z-index: -1; /* Missing colon */
}

.cards__item:hover::after {
  transform: translate(0, 0); /* Missing colon */
  
}

.cards__item:hover {
  /* border: 2px solid transparent; Missing colon */
  color: rgb(168, 119, 202); /* Missing colon */
  transform: scale(1.05); /* Missing colon */
  will-change: transform;
}

.cards__item__link:hover {
  color: #051b3f;
}




/*  */

.cards__item {
  flex: 1;
  background-color: #051b3f;
  color: #feaf7a;
  margin: 01rem;
  height: 200px;
  border-radius: 0px;
  list-style: none;
}

.cards__item__link {
  color: #feaf7a;
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  text-decoration: none;
}

.cards__item__pic-wrap {
  position: relative;
  width: 100%;
  padding-top: 67%;
  overflow: hidden;
}

.fade-img {
  animation-name: fade-img;
  animation-duration: 2s;
}

.cards__item__pic-wrap::after {
  content: attr(data-category);
  position: absolute;
  bottom: 0;
  margin-left: 10px;
  padding: 6px 8px;
  max-width: calc((100%) - 60px);
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  background-color: #1f98f4;
  box-sizing: border-box;
}

.cards__item__img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 20%;
  height: 400px;
  max-width: 100%;
  max-height: 100%;
  object-fit:fill;
  transition: all 0.2s linear;
}



.cards__item__img:hover {
  transform: scale(1.1);
}

.cards__item__info {
  padding: 90px 30px 30px;
  height: 100%;
}

.cards__item__text {
  text-align: center;
  height: 100%;
  font-weight: 300;
  font-size: 80px;
  font-family: arial;
  line-height: 15px;
}

@media screen and (max-width: 960px) {
  .cards__wrapper {
    flex-direction: column;
  }

  .cards__item__text {
    font-size: 3rem;
  
  }

}

@media screen and (max-width: 500px) {


  .cards__item__text {
    font-size: 1.5rem;
  }

  .cards__container {
    max-width: 1120px;
    width: 100%;
  }
}

@media only screen and (min-width: 1200px) {
  .content__blog__container {
    width: 84%;
  }
}

@media only screen and (min-width: 1024px) {
  .cards__items {
    display: flex;
  }
}

@media only screen and (max-width: 1024px) {
  .cards__item {
    margin-bottom: 2rem;
  }
}