
* {
    box-sizing: border-box;
}

video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
}

.hero-heading {
    /* border: 40px solid #041b3f; */
    opacity: 1;
    width: 85%;
    justify-content: center;
    contain: content;
    text-align: center;
}

Button {
    margin-right: 10px;
}

.hero-container {
    background: #041b3f center center/cover no-repeat;
    animation: fadeBackground 6s;
    animation-fill-mode: forwards;
    
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2); */
    object-fit: contain;
}

@keyframes fadeBackground {
    from { background-color: #11346d; }
    to { background-color: #041b3f; }
  }
  
  

.hero_one {
    flex: 1;
    text-align: right;
    box-sizing: border-box;
    padding: 100px 0 100px 150px 100px;
    
  }

.hero_two {
    flex: 1.5;
    text-align: center;
    justify-content: center;
    /* padding-left: 50px; */
}

.heading-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

  .hero_img {
    height: 30rem;
    width: 30rem;
  }

p {
    width:100%;
    font-size: 1.6em;
    color: #fff;
    line-height: 150%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.hero-heading .heading {
    font-size: 6rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ffb07a;
    line-height: 180%;
    font-weight: 300;
}



/* animation class and keyframes */
.overflow-hidden {
    overflow: hidden;
   }
   
   .drop-in {
    animation: drop-in 1s ease 200ms backwards;
   }
   
   .drop-in-2 {
    animation: drop-in 1200ms ease 500ms backwards;
   }
   
   @keyframes drop-in {
    from {
     opacity: 0;
     transform: translateY(-100px);
    }
    to {
     opacity: 1;
     transform: translate(0px);
    }
   }


   @media screen and (max-width: 1560px) {
    .hero_img {
        height: 25rem;
        width: 25rem;
      }

    .hero-heading .heading { 
        font-size: 4rem;
    }

   }


@media screen and (max-width: 1140px) {


    .hero-heading .heading,
    .resume, 
    .services,
    .sign-up {
        font-size: 3rem;
    }

    p {
        font-size: 1.2rem;
    }

     .heading-container {
        flex-direction: column;
    }
}

@media screen and (max-width: 768px) {

    .hero_img {
        height: 20rem;
        width: 20rem;
      }

    .hero-heading > h1 {
        font-size: 2rem;
        
    }
}