* {
  box-sizing: border-box;
}

video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}

.hero-heading {
  display: flex;
  margin-top: 130px;
  opacity: 1;
  width: 70%;
  justify-content: center;
  align-items: center;
  contain: content;
  text-align: center;
}

Button {
  margin-right: 10px;
}

.hero-container {
  background-image: linear-gradient(
    to right,
    #041b3f 0%,
    #041b3f 30%,
    white 30%,
    white 30.5%,
    #3e5780 30.5%,
    #3e5780 100%
  );
  animation: fadeBackground 6s;
  animation-fill-mode: forwards;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2); */
  object-fit: contain;
}

@keyframes fadeBackground {
  from {
    background-color: #11346d;
  }
  to {
    background-color: #041b3f;
  }
}

.hero_one {
  flex: 1;
  box-sizing: border-box;
  text-align: right;
}

.hero_two {
  flex: 1.5;
  padding: 0 0px;
  padding-bottom: 20px;
  text-align: left;
  justify-content: center;
  /* padding-left: 50px; */
}

.heading-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero_img {
  height: 75%;
  width: 75%;
  margin: auto;
  border: 8px solid white;
}


p {
  width: 100%;
  font-size: 1.6em;
  color: #fff;
  line-height: 150%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.hero-heading .heading {
  font-size: 6rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #ffb07a;
  background-color: #3e5780;
  line-height: 180%;
  font-weight: 300;
}

/* animation class and keyframes */
.overflow-hidden {
  overflow: hidden;
}

.drop-in {
  animation: drop-in 1s ease 200ms backwards;
}

.drop-in-2 {
  animation: drop-in 1200ms ease 500ms backwards;
}

.drop-in-3 {
  animation: drop-in 1500ms ease 800ms backwards;
}

@keyframes drop-in {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translate(0px);
  }
}

.two_content {
  width: "70%";
  padding-left: 50px;
}

.two_content h1 {
font-size: 2.5rem;
}

.hero_two h2 {
    font-size: 32px;
}




/* MOBILE */



@media screen and (min-device-width: 1205px) and (max-width: 1560px) {
  .hero_img {
    height: 80%;
    width: 80%;
    margin: auto;
  }

  .hero-heading .heading {
    font-size: 4rem;
  }

  .hero-heading {
    width: 80%;
  }
}



@media screen and (max-width: 1205px) {
  .hero-container {
    background-color: #3e5780;
    background-image: none;
    height: 80%;
  }

  .resume-link {
    display: none;
  }

  @keyframes fadeBackground {
    from {
      background-color: #3e5780;
    }
    to {
      background-color: #3e5780;
    }
  }
  .hero-heading .heading,
  .resume,
  .sign-up {
    font-size: 4.2rem;
  }

  .two_content {
    padding-left: 0px;
    text-align: center;
  }

  p {
    font-size: 1.2rem;
  }

  .hero-heading {
    flex-direction: column-reverse;
    margin-top: 170px;
  }

  .hero_one {
    text-align: center;
    padding: 25px 0;
    width: 90%;
  }

  .hero_img {
    width: 100%;
    height: 100%;
  }


  .hero_two h2 {
    font-size: 1.8rem;
  }

  .two_content h1 {
    font-size: 2rem;
    padding: 0;
    }

}


@media screen and (min-device-width: 634px) and (max-width: 768px) {
  .hero-heading h1 {
    font-size: 3rem;
  }

  .hero-container {
    height: 100%;
    padding-bottom: 20px;
  }

  .hero-heading {
    margin-top: 160px;
    width: 75%;
  }

  .hero_img {
    height: 100%;
    width: 100%;
  }

  .two_content {
    padding-left: 0;
    width: 100%; 
    margin: auto;
  }
  
  .two_content h1 {
    font-size: 2rem;
    padding: 0;
    }
    
}


@media screen and (max-width: 633px) {

  .hero-container {
    height: 100%;
    padding-bottom: 20px;
  }

  .hero-heading h1 {
    font-size: 1.8rem;
  }

  .hero-heading {
    margin-top: 160px;
    width: 75%;
  }

  .hero_img {
    height: 100%;
    width: 100%;
  }

  .two_content {
    padding-left: 0;
    width: 100%; 
    margin: auto;
  }

  .two_content h1 {
    font-size: 1.2rem;
    padding: 0;
    }

}

