@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Urbanist:wght@400;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Comfortaa';
}


.home,
.services,
.resume,
.sign-up {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 300;
}

.home,
.services,
.resume {
  height: 100vh;
}

/* .services {
  background-image: url('/public/images/img-2.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
} */

.head-hr {
  color: #fff;
  width: 50%;
  margin: 10px;
}

.resume, .services {
  /* background-image: url('/public/images/img-1.jpg'); */
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  background-color: #041b3f;
  color: #fff;
  font-size: 6rem;
  flex-direction: column;
  
}

.intro {
  text-align: center;
  color: #041b3f;
  width: 80%;
  margin: 100px auto;
  padding: 80px 80px 80px 80px;
  background-color: white;
  border: 3px solid #f77040;
  box-shadow: 7px 7px 0px -1px #f77040;
  -webkit-box-shadow: 7px 7px 0px -1px #f77040;
  -moz-box-shadow: 7px 7px 0px -1px #f77040;
}

body {
  background-color: transparent;
}

h1,
h2,
h3,
h4 {
  padding: 15px 0 15px 0  ;

}

h1 {
  font-size: 48px;
  font-weight: 400;
}

.intro p {
  color: #041b3f;
  padding: 30px;
}

li {
  padding: 0px;
  margin: 0;
}

.sign-up {
  /* background-image: url('/public/images/img-8.jpg'); */
  background-color: #041a3f;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 35px;
  height: 100vh;
}

 .contact-input {
  border: none;
  height: 40px;
  width: 100%;
  color: #000;
  border-radius: 10px;
  margin: 5px 0 30px 0;
}

.contact-input-button {
  height: 45px;
  border-radius: 10px;
  background-color: #ffae78;
  border: none;
  color: white;
  font-size: 20px;
}

.contact-input-button:hover {
  background-color: white;
  color: #ffae78;
}

.contact-form {
  padding: 0%;
  border-radius: 0px;
  width: 35%;
  font-size: 18px;
  margin-top: 120px;
}

@keyframes scroll-in {
  from {
    opacity: 0;
    scale: 0.75;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

.u-animate-scroll-in {
  @starting-style {
    opacity: 0;
    scale: 0.75;
  }

  animation-name: scroll-in;
  animation-timing-function: linear;
  animation-timeline: view();
  animation-range: entry 10% cover 20%;
  animation-fill-mode: forwards;
}

.contact-header {
  font-size: 30px;
}









@media screen and (max-width: 1450px) {
  .contact-header {
    font-size: 40px;
  }
}

@media screen and (max-width: 1050px) {
  
  .contact-header {
    font-size: 35px;
  }

  .contact-form {
    width: 75%;
    margin-top: 100px;
    font-size: 20px;
  }

  .contact-input {
    height: 40px;
    margin: 5px 0 30px 0;
  }
}

@media screen and (max-width: 750px) {
  .contact-header {
    font-size: 30px;
  }
}